.entry-title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    max-width: 420px;
    text-align: center;
}

.preview-text-container {
    background-image: linear-gradient(270deg, var(--color-primary-low-opacity) 0%, var(--color-primary-dark-low-opacity) 100%);
    width: 100%;
    border-radius: 35px;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* justify-content: center;
    align-items: center; */
}

.preview-img-container {
    border-radius: 55px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    min-width: 390px;
    max-width: 400px;
    height: 400px;
    background-image: linear-gradient(180deg, rgb(43, 47, 58, 0.7) 0%, rgb(26, 29, 38, 0.7) 100%);
    cursor: pointer;
}

.preview-text-title {
    font-size: 15px;
    font-weight: bold;
    max-width: 420px;
    margin-bottom: 4px;
}

.description {
    font-size: 13px;
    max-width: 420px;
    color: rgba(255, 255, 255, 0.7);
}

.preview-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 55px;
}

.entry-outer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    column-gap: 30px;
}

.title-hint-text {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 25px;
}

.portfolio-title-text {
    color: white;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.portfolio-background {
    padding: 1.5% 4% 3% 4%;
    background-image: linear-gradient(360deg, var(--color-primary) 0%, var(--color-primary-dark) 100%);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
    opacity: 98%;
    height: max-content;
}

.source-link {
    height: auto;
    width: 75px;
    object-fit: contain;
    border-radius: 15px;
}

.available-here-text {
    margin-top: 12px;
    text-align: center;
    margin-right: 20px;
    font-style: italic;
    font-size: 13.5px;
}

.links-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}


.lightbox {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100vw;
    height: 103vh;

    background: rgba(0, 0, 0, 0.9);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    z-index: 1000;

    gap: 40px;
}

/* container for image positioning */
.zoomed-img {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 90%;
    max-height: 90%;
    object-fit: contain;

    transition: transform 0.2s ease;
    cursor: zoom-in;

    will-change: transform;
}


.lightbox-img {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 90%;
    max-height: 90%;
    object-fit: contain;

    transition: transform 0.2s ease;
    will-change: transform;
}

.lightbox-img.not-zoomed {
    cursor: zoom-in;
}

.lightbox-img.zoomed {
    cursor: zoom-out;
}

.arrow-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: transparent;
    width: clamp(65px, 11vh, 95px);
    height: clamp(60px, 10vh, 90px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;

    cursor: pointer;
}

.arrow-left {
    left: 8%;
}

.arrow-right {
    right: 8%;
}

.arrow-background:hover {
    background-color: rgba(128, 128, 128, 0.2);
}