#root-div {
    margin-top: 56px;
    padding-top: 64px;
    background-image: url('../assets/header-13.png'), linear-gradient(-135deg, rgba(24, 24, 94, 1) 0%, rgba(43, 43, 48, 1) 100%);
    background-size: contain, cover;
    background-position: 70% center, center;
    background-repeat: no-repeat, no-repeat;
    position: relative;
    opacity: 0.98;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
}


#title-text-div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin-left: 4%;
}


.see-button {
    color: white;
    background-color: rgba(145, 145, 197, 0.304);
    padding: 15px;
    margin: 50px 10px 10px 10px;
}